/*
 * https://coolors.co/f2efea-fc7753-66d7d1-403d58-dbd56e
 *
 * #F2EFEA - Isabelline
 * #FC7753 - Coral
 * #66D7D1 - Tiffany Blue
 * #403D58 - English Violet
 * #DBD56E - Straw
 */

:root {
    background-color: #F2EFEA;
    font-family: sans-serif;
    color: black;
}

body {
    max-width: 90ch;
    margin: 0 auto;
    line-height: 1.5;
}

h1, h2, h3 {
    line-height: normal;
    text-align: center;
}

h1 {
    font-size: 4em;
    font-weight: 900;
    color: #FC7753;
    text-shadow: 0.02em 0.04em #403D58;
}

h2 {
    margin: 1.6em 0;
    padding: 0.55em;
    border-bottom: 0.1em solid #4da09c;
    text-shadow: .05em 0.08em pink;
    font-style: italic;
    color:grey;
}

section p {
    text-indent: 2.8em;
    line-height: 1.5em;
    margin-bottom: 2em;
    margin-top: .5em;
}

.project {
    margin-bottom: 1.5em;
    padding: 0.5em 2em;
    background-color: #403D58;
    border-radius: 0.5em;
    color: #F2EFEA;
}

.project h3 {
    margin-top: 1rem;
    margin-right: 2em;
    margin-left: 2em;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid #a6a57a;
    color: #e8a6da;
}


/* Animations */
section p{
transition: color 1s, background-color 3s;
}

section p:hover{
color: #ed00ba;
background-color: #b9b8c3;
}